<div class="card">
    <p class="title">All requests</p>
    <div class="search" [formGroup]="filterForm">
        <div class="search-fields">
            <span style="font-weight: bold;margin-right: 2rem;">
                Filters
            </span>
            <input formControlName="name" />
            <mat-select class="selector" formControlName="type">
                <mat-option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.name}}</mat-option>
            </mat-select>
        </div>
        <button class="btn" (click)="filterData()">Filter</button>
    </div>
    <div>
        <table mat-table [dataSource]="compagnes" class="mat-elevation-z8 demo-table">
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                    <div class="icons">
                        <mat-icon class="material-icons-outlined" *ngIf="element.requestStatus.name!=='REJECTED' && element.requestStatus.name!=='VALIDATED'">
                            hourglass_empty
                        </mat-icon>
                        <mat-icon class="material-icons-outlined text-success" *ngIf="element.requestStatus.name==='VALIDATED'">
                            check_circle_outline
                        </mat-icon>
                        <mat-icon class="material-icons-outlined text-danger" *ngIf="element.requestStatus.name==='REJECTED'">
                            cancel
                        </mat-icon>
                        <span>{{element.requestStatus.name}}</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.campaignName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="element.advice? 'advice-badge':'request-badge'">
                        {{element.advice?'Advice':'Request'}}
                    </span></td>
            </ng-container>

            <ng-container matColumnDef="Brand">
                <th mat-header-cell *matHeaderCellDef>Brand</th>
                <td mat-cell *matCellDef="let element">{{element.brand.name}}</td>
            </ng-container>
            <ng-container matColumnDef="Submission">
                <th mat-header-cell *matHeaderCellDef>Submission</th>
                <td mat-cell *matCellDef="let element">{{moment(element.createdDate).format("MMM Do YY")}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="material-icons-outlined">
                        arrow_forward_ios
                    </mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-tr" (click)="redirectTo(row)"></tr>
        </table>
    </div>
    <div *ngIf="!compagnes.length" class="mx-auto w-20">
        <span class="no-result">
            No Result Found
        </span>
    </div>
</div>