/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.demo-table {
    width: 100%;
    box-shadow: none;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.request-badge {
    background-color: gray;
    color: white;
    padding: 0.25rem;
    border-radius: 3px;
}

.advice-badge {
    background-color: rgb(223, 16, 129);
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}

.table-tr {
    background-color: rgba(228, 250, 242, 0.6);
    border-radius: 5px;
    margin: 2px 0px;
}

.table-tr:hover {
    cursor: pointer;
}

tr,
th {
    text-align: center !important;
}

.card {
    padding: 5px;
    margin: 1px auto;
    width: 90%
}

.w-60 {
    width: 60%
}

.title {
    font-size: large;
    font-weight: bold;
    color: rgb(81, 82, 83);
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.search-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    align-items: center;
    width: 50%;
}

.btn {
    color: white;
    border-radius: 5px;
    background-color: darkblue;
    border: transparent;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    transition: all 0.3s ease;
}

input {
    margin: 0.3rem 0.3rem 0rem 0.3rem;
    display: block;
    padding: 0.5rem 1rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    background-color: rgba(245, 239, 239, 0.6);
}

.selector {
    /* width: 20%; */
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0.3rem 0.3rem 0rem 0.3rem;
    background-color: rgba(245, 239, 239, 0.6);
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-danger {
    color: red
}

.text-success {
    color: green
}

.media-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    justify-content: space-between;
}

.media-block {
    padding-top: 2rem
}

.media-list-item {
    width: 45%;
}

.margin-item {
    margin: 0px 10px 5px 5px
}

.date-picker {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    justify-content: space-between;
    width: 60%;
    border-radius: 5px;
    background-color: rgba(245, 239, 239, 0.6);
}

.date-picker input {
    margin: 0px;
    border: none;
    border: left 1px;
    background-color: transparent;
    width: 90%
}

.form-body {
    margin: 0.5rem auto;
    padding-top: 4rem;
    width: 60%
}

.compaign-name {
    width: 100%;
    margin: 5px 0px
}

.compaign-name input {
    width: 95%;
    margin: 5px 0px
}

.no-result {
    font-weight: bold;
}

.mx-auto {
    margin: 5px auto;
}

.w-20 {
    width: 20%;
}